img[src=""] {
	display: none;
}
.ui-state-highlight {
	float: left;
	height: 100px;
	width: 100px;
	margin-right: 10px;
	margin-bottom: 10px;
}

#sortable{
	display: inline-block;
}

#sortable li {
	margin: 3px 3px 3px 0;
	padding: 1px;
	float: left;
	width: 150px;
	height: 150px;
	font-size: 4em;
	text-align: center;
	position:relative;
}
#custom_posts_upload_images .inside{
	overflow: overlay !important;
}
progress, progress[role][aria-valuenow] {
	background: transparent !important;
}

progress::-webkit-progress-bar {
	background: transparent;
}
.uploader{
	margin: 1em;
}
.label{
	vertical-align: baseline !important;
}
.upload-error p{
	color: red;
}
.bar[value]::-webkit-progress-value {
	background-image:
	-webkit-linear-gradient(-45deg, 
		transparent 33%, rgba(0, 0, 0, .1) 33%, 
		rgba(0,0, 0, .1) 66%, transparent 66%),
	-webkit-linear-gradient(top, 
		rgba(255, 255, 255, .25), 
		rgba(0, 0, 0, .25)),
	-webkit-linear-gradient(left, #f44, #09c);
	border-radius: 2px; 
	background-size: 35px 20px, 100% 100%, 100% 100%;
}
.bar{
	border-right-color: 1px solid #bfbfbf !important;
	border: 1px solid #bfbfbf;
	border-radius: 5px;
	width: 100%;
	height: 20px;
}
.bar-container{
	width: 20%;
}
.text{
	vertical-align: top;
}
.label{
	vertical-align: baseline;
}
.title{
	margin-bottom: 20px;
}
.season-select{
	vertical-align: bottom !important;
}
.season-year{
	width: 55px;
}
.upload-error p{
	color: red;
}
.bar-container, .text{
	display: inline-block;
}

.sortableList-item{
	position: relative;
}

.info-drag{
	display: none;
}

#deleteAllImages{
	position: absolute;
	right: 12px;
	top: 0;
}